p(cj/d) = p(d/cj)*p(cj)/p(d)

d : đối tượng xác định
cj : cần xác định

In [1]:
p_male_drew = (1/3) * (3/8) / (3/8)
p_male_drew

0.3333333333333333

In [2]:
p_female_drew = (2/3) * (5/8) / (3/8)
p_female_drew

1.111111111111111

In [3]:
import numpy as np
import pandas as pd

df = pd.read_excel("oulook.xlsx")
df

     Outlook Play Golf
0      Rainy        No
1      Rainy        No
2   Overcast       Yes
3      Sunny       Yes
4      Sunny       Yes
5      Sunny        No
6   Overcast       Yes
7      Rainy        No
8      Rainy       Yes
9      Sunny       Yes
10     Rainy       Yes
11  Overcast       Yes
12  Overcast       Yes
13     Sunny        No

In [4]:
p_yes_rainy = (2/9) * (9/14) / (5/14)
print(p_yes_rainy)
p_no_rainy = (3/5) * (5/14) / (5/14)
print(p_no_rainy)

0.39999999999999997
0.6

In [5]:
p_yes_overcast = (4/4) * (9/14) 
p_no_overcast = (0/4) * (5/14) 
print(p_yes_overcast)  
print(p_no_overcast)

0.6428571428571429
0.0

In [6]:
p_yes_sunny = (3/9) * (9/14) / (5/14)
print(p_yes_sunny)
p_no_sunny = (2/5) * (5/14) / (5/14)
print(p_no_sunny)

0.6
0.4